.title {
  text-align: center;
  padding: 30px 0px 40px;
}
.dynamic-title {
  float: none;
  margin: 0 auto;
  display: table;
  width: auto;
  font-size: 21px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

span.gold-title {
  font-size: 21px !important;
  margin: -10px 0;
  color: #00c3da;
  font-weight: 400;
  font-size: 21px !important;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-style: normal;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: 0.2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5px;
  height: 90%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
