@media (max-width: 1200px) {
  .container {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: auto;
  }
}

/* navbar media */

@media (max-width: 992px) {
  .navbar-brand .logo-dark,
  .navbar-brand .logo-light {
    width: 100%;
    transition: 0.5s;
  }
}
@media (max-width: 720px) {
  .navbar-brand .logo-dark,
  .navbar-brand .logo-light {
    width: 50%;
    transition: 0.5s;
  }
}

@media (max-width: 720px) {
  :has(.nav-link.active) nav .navbar-toggler i {
    color: black;
  }
  :has(.nav-link.active) nav .navbar-toggler {
    border-color: black;
  }

  :has(.home-section.active) nav .navbar-toggler i {
    color: #fff;
  }
  /* :has(.home-section.active) nav .navbar-toggler {
    border-color: #fff;
  } */
}
@media (max-width: 570px) {
  nav .navbar-collapse,
  nav .navbar-collapse.show,
  nav .navbar-nav,
  nav .navbar-nav .nav-item,
  nav .navbar-nav .nav-item .nav-link {
    background-color: #fff !important;
    color: black !important;
    justify-content: start;
    left: 0;
    right: 0;
  }

  nav .nav-link.active {
    color: gray;
  }
}
/* section services media */

@media (max-width: 992px) {
  #services .we-do {
    text-align: center;
  }
  #services .we-do h2::before {
    content: "w";
    position: absolute;
    bottom: 130px;
    left: 45%;
    transform: translateY(-50%);
    font-size: 2em;
    opacity: 0.1;
    text-transform: uppercase;
    color: black;
  }
}
@media (max-width: 720px) {
  #services .check-list {
    margin-bottom: 30px;
  }
}
/* pricing section media */

@media (max-width: 992px) {
  #pricing .big-card {
    margin-top: 10px;
    padding: 20px 10px;
  }
}

/* contact sectoin media */

@media (max-width: 722px) {
  #contact .contact-content,
  #contact .contact-content .contact-form {
    padding: 40px 20px !important;
  }
}

/* work & customer sction media */
@media (max-width: 720px) {
  #happy-customer .customer .carsoul-content {
    padding: 20px 20px;
    margin-top: 10px;
  }
}
